################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TDDKata/.vs/TDDKata/v15/Server/sqlite3/storage.ide-wal
